---
const workExperiences = [
	{
		company: 'Celest',
		role: 'Co-Founder and Chief Product Officer',
		period: 'Nov 2023 - March 2024',
		responsibilities: [
			'Drove growth features',
			'Launched 4G/LTE services',
			'Boosted e-commerce revenue',
		],
	},
	{
		company: 'Amazon Web Services',
		role: 'Sr Product Manager',
		period: '2014 - 2018',
		responsibilities: [
			'Led development of e-commerce platform',
			'Improved operations efficiency by 30%',
			'Managed team of 10 developers',
		],
	},
];
---

<section
	class="mb-10 flex flex-col items-center justify-center py-8 text-black dark:text-white lg:my-16"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Work Experience</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>
	<div class="container mx-auto px-4">
		<div class="mx-auto max-w-2xl">
			{
				workExperiences.map((job, index) => (
					<div class="accordion-item mb-4" data-index={index}>
						<button class="border-black-500 w-full overflow-hidden rounded-xl border-2 text-left transition-all ease-in-out hover:scale-[1.02] focus:outline-none">
							<div class=" p-4">
								<div class="flex items-center justify-between">
									<div>
										<h3 class="text-xl font-bold">{job.company}</h3>
										<p class="text-md">{job.role}</p>
									</div>
									<svg
										class="h-6 w-6 transform transition-transform "
										fill="none"
										stroke="currentColor"
										viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M19 9l-7 7-7-7"
										/>
									</svg>
								</div>
							</div>
						</button>
						<div class="accordion-content mt-2 max-h-0 overflow-hidden rounded-xl pb-0 pt-0 opacity-0 transition-all duration-300 ease-in-out">
							<div class="p-4">
								<p class="text-md mb-2">{job.period}</p>
								<ul class=" list-inside list-disc">
									{job.responsibilities.map((resp) => (
										<li class="mb-1">{resp}</li>
									))}
								</ul>
							</div>
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const accordionItems = document.querySelectorAll('.accordion-item');

		accordionItems.forEach((item) => {
			const button = item.querySelector('button');
			const content = item.querySelector('.accordion-content');
			const icon = button.querySelector('svg');

			button.addEventListener('click', () => {
				const isOpen = content.classList.toggle('is-open');

				if (isOpen) {
					content.classList.remove('max-h-0', 'opacity-0', 'pt-0', 'pb-0');
					content.classList.add('max-h-[1000px]', 'opacity-100', 'pt-4', 'pb-4');
					icon.classList.add('rotate-180');
				} else {
					content.classList.add('max-h-0', 'opacity-0', 'pt-0', 'pb-0');
					content.classList.remove('max-h-[1000px]', 'opacity-100', 'pt-4', 'pb-4');
					icon.classList.remove('rotate-180');
				}

				// Close other open items
				accordionItems.forEach((otherItem) => {
					if (otherItem !== item) {
						const otherContent = otherItem.querySelector('.accordion-content');
						const otherIcon = otherItem.querySelector('svg');
						const otherButton = otherItem.querySelector('button');
						otherContent.classList.remove(
							'is-open',
							'max-h-[1000px]',
							'opacity-100',
							'pt-4',
							'pb-4'
						);
						otherContent.classList.add('max-h-0', 'opacity-0', 'pt-0', 'pb-0');
						otherIcon.classList.remove('rotate-180');
					}
				});
			});
		});
	});
</script>
